#mapid {
  height:700px;
}
.table-sortable th{
    cursor: pointer;
}
.table-sortable .th-sort-asc::after {
    content: "\25b4";
}
.table-sortable .th-sort-desc::after {
    content: "\25be";
}
.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
    margin-left: 5px;
}
.table-sortable .th-sort-desc,
.table-sortable .th-sort-asc {
    background: rgb(0, 0, 0,0.1);
}

thead{
    background: aliceblue;
}

.social-media-icon{
    float:left;
}

img{
width: 100%;
object-fit: cover;
}
#filterForm {
    background: aliceblue;
}

.btn-block{
    display: -webkit-inline-box!important;
}
/* SideNav */
.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    background: #31b0d5;
    color: #fff;
    transition: all 0.3s;
}

.wrapper {
    display: flex;
    align-items: stretch;
}



.hide {
    display: none;
}

#sidebarCollapse {
    padding: 10px 5px 10px 5px;
    margin-top: 250px;
}
#sidebarOpen {
    padding: 10px 5px 10px 5px;
    margin-top: 250px;
}
.expand-button-col{
    padding-left: 0px!important;
}
/*Figures*/
.dc-chart{
    text-align:center;
}
.dc-chart.infographics{
    width:345px;
}
/*Loading giff*/
.ouro {
    z-index: 500;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
    text-align: center;
    display:inline-block;
    height: 46px;
    width: 46px;

    border-radius: 50%;  
    background: none repeat scroll 0 0 #DDDDDD;
    overflow:hidden;
    box-shadow: 0 0 10px rgba(0,0,0,.1) inset, 0 0 25px rgba(0,0,255,0.075);
}

.ouro:after {
    content: "";
    position: absolute;
    top: 9px; left: 9px;
    display: block;
    height: 28px; width: 28px;
    background: none repeat scroll 0 0 #F2F2F2;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}
.ouro > span {
    position: absolute;
    height: 100%; width: 50%;
    overflow: hidden;
}
.left  { left:0   }
.right { left:50% }

.anim {
    position: absolute;
    left: 100%; top: 0;
    height: 100%; width: 100%;
    border-radius: 999px;
    background: none repeat scroll 0 0 #508EC3;
    opacity: 0.8;
    -webkit-animation: ui-spinner-rotate-left 3s infinite;
    animation: ui-spinner-rotate-left 3s infinite;
    -webkit-transform-origin: 0 50% 0;
    transform-origin: 0 50% 0;
}
.left .anim {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.right .anim {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    left: -100%;
    -webkit-transform-origin: 100% 50% 0;
    transform-origin: 100% 50% 0;
}
@keyframes ui-spinner-rotate-right{
  0%{transform:rotate(0deg)}
  25%{transform:rotate(180deg)}
  50%{transform:rotate(180deg)}
  75%{transform:rotate(360deg)}
  100%{transform:rotate(360deg)}
}
@keyframes ui-spinner-rotate-left{
  0%{transform:rotate(0deg)}
  25%{transform:rotate(0deg)}
  50%{transform:rotate(180deg)}
  75%{transform:rotate(180deg)}
  100%{transform:rotate(360deg)}
}

@-webkit-keyframes ui-spinner-rotate-right{
  0%{-webkit-transform:rotate(0deg)}
  25%{-webkit-transform:rotate(180deg)}
  50%{-webkit-transform:rotate(180deg)}
  75%{-webkit-transform:rotate(360deg)}
  100%{-webkit-transform:rotate(360deg)}
}
@-webkit-keyframes ui-spinner-rotate-left{
  0%{-webkit-transform:rotate(0deg)}
  25%{-webkit-transform:rotate(0deg)}
  50%{-webkit-transform:rotate(180deg)}
  75%{-webkit-transform:rotate(180deg)}
  100%{-webkit-transform:rotate(360deg)}
}
