{% extends "layout.html" %}
{% block content %}
<html>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3" id="sidebar">
                <div class="row">
                    <div class="col-11 " >
                        <div class="wrapper p-4">
                            <nav >
                                <div class="row">
                                    <div class="col-8">
                                        <img class="omdtz-logo" src="static/static_figures/OMDTZ-logo.png" alt="OMDTZ-logo">
                                    </div>
                                    <div class="col-4">
                                        <img class="wfp-logo" src="static/static_figures/WFP.jpeg" alt="WFP-logo">
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <h1>Nationwide Mills Census in Tanzania</h1>
                                         <p>OpenMap Development Tanzania (OMDTZ), supported by WFP Tanzania, is conducting a national-wide mills census from August through November 2021. The project aims at mapping approximately 13,000 mills and additional mills found in the field by collecting Geographical Positioning System (GPS) coordinates, operation, production capacity, type of mills, commodity milled, flour fortification, and other relevant information. Community mapping methodology employed for the mapping and data set will be available openly through here and  Openstreetmaps 
                                        </p>
                                    </div>
                                    <hr>
                                    <div>
                                        <h3>Find OMDTZ in social media: </h3>
                                        <p class="social-share">
                                            <a  class="social-media-icon m-3" href="https://www.linkedin.com/company/openmap-development-tanzania-omdtz"><image alt="linkedin"src="static/static_figures/social_media_icons/social-1_round-linkedin.svg"></a>
                                            <a  class="social-media-icon m-3" href="https://www.facebook.com/OMDTZ"><img alt="facebook" src="static/static_figures/social_media_icons/social-1_round-facebook.svg"></a>
                                            <a  class="social-media-icon m-3" href="https://twitter.com/OMDTZ"><img alt="twitter" src="static/static_figures/social_media_icons/social-1_round-twitter.svg"></a>
                                            <a  class="social-media-icon m-3" href="https://www.instagram.com/omdtz/?hl=en"><img alt="instagram" src="static/static_figures/social_media_icons/social-1_round-instagram.svg"></a>
                                        </p>

                                    </div>
                            </nav>
                        </div>
                    </div>                   
                    <div class="col-1">
                        <button type="button" id="sidebarCollapse" class="btn btn-info">
                            <span id="left-arrow">&#10096;&#10096;</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-1 hide" id="right-arrow">
                <button type="button" id="sidebarOpen" class="btn btn-info">
                    <span>&#10095;&#10095;</span>
                </button>
            </div>

            <div class="col-6 mt-5" id="mapbar">
                <span class="ouro" id="spin">
                    <span class="left"><span class="anim"></span></span>
                    <span class="right"><span class="anim"></span></span>
                </span>
                <div id="mapid">
                </div>
                <p id="download-info" class="hide">Testing</p>


            </div>
            <div class="col-3">
                <h3>The number of mill sites</h3>
                <h4 id="millNumber"></h4>
                <h3>The number of machines</h3>
                <h4 id="machineNumber"></h4>
                <button id="resetFilters">Reset filters</button>

                <div class="selectmenus">
                    <div id="selectOwner">Owner type
                   </div>
                    <div id="selectGrain">Grain milled
                   </div>
                    <div id="selectMillType">Mill type
                   </div>
                    <div id="selectOperational">Operational
                   </div>
                    <div id="selectFortify">Fortified
                   </div>
                    <div id="selectFortifyStandard">Fortifying standard
                   </div>
                    <div id="selectEnergySource">Energy source
                   </div>
                    <div id="selectNonOperationReason">Non-operational reason
                   </div>
                </div>


                <h4>Machine details</h4>
                <p id="machine_details"></p>
                <div id="details_container"></div>
            </div>
<!--            <div class="col-3 form-inline mb-3" id="filterbar">-->
<!--                <h1>Filters</h1>-->
<!--                <h3 id="menutitle">Mill owner</h3>-->
<!--                    <div id="menuselect" class="block"></div>-->
<!--                    {% for filterform_key in filter_options %}-->
<!--                <label class="form-label btn btn-info btn-block" data-toggle="collapse" data-target="#{{ filterform_key }}">{{ filterform_key }}</label> <br>-->
<!--                    <div id="{{ filterform_key }}" class="collapse">-->
<!--                        {% for filterform_value in mill_filter_selection[filterform_key] %}-->
<!--                            <div class="mb-3">-->
<!--                                {% if choices_dict %}-->
<!--                                    {% if filterform_key in choices_dict.keys() %}-->
<!--                                        {% if filterform_value in choices_dict[filterform_key] %}-->
<!--                                        <input class="form-check-input" type="checkbox" checked = 'True' name="{{ filterform_key }}, {{filterform_value }}" ></input>-->
<!--                                        {% else %}-->
<!--                                        <input class="form-check-input" type="checkbox" name="{{ filterform_key }}, {{filterform_value }}" ></input>-->
<!--                                        {% endif %}-->
<!--                                    {% else %}-->
<!--                                        <input class="form-check-input" type="checkbox" name="{{ filterform_key }}, {{filterform_value }}" ></input>-->
<!--                                    {% endif %}-->
<!--                                {% else %}-->
<!--                                <input class="form-check-input" type="checkbox" checked = 'True' name="{{ filterform_key }}, {{filterform_value }}" ></input>-->
<!--                                {% endif %}-->
<!--                                <label class="form-check-label" name={{ filterform_value }}>{{ filterform_value }}</label>-->
<!--                            </div>-->
<!--                        {% endfor %}-->
<!--                    </div>-->
<!--                    {% endfor %}-->
<!--&lt;!&ndash;                     <h3>Machine filters</h3>&ndash;&gt;-->
<!--                    <br>-->

<!--            </div>-->
        </div>

        </div>

    </div>
    <div class="figures">
        <div class="row">
            <div class="col">
                <div class="p-3 mb-5 bg-white rounded">
                    <h3  class="card-title text-center">Functional mills</h3>
                    <div id="functionalMills" class="infographics"></div>
                </div>
            </div>

            <div class="col">
                <div class="p-3 mb-5 bg-white rounded">
                    <h3  class="card-title text-center">Mill types</h3>
                    <div id="millTypes" class="infographics"></div>
                </div>
            </div>

            <div class="col">
                <div class="p-3 mb-5 bg-white rounded">
                    <h3  class="card-title text-center">Energy source</h3>
                    <div id="energySource" class="infographics"></div>
                    <small>*Each machine can have multiple energy sources</small>
                </div>
            </div>

            <div class="col">
                <div class="p-3 mb-5 bg-white rounded">
                    <h3  class="card-title text-center">Flour is fortified</h3>
                    <div id="fortifiedFlour" class="infographics"></div>
                </div>
            </div>
            <div class="col">
                <div class="p-3 mb-5 bg-white rounded">
                    <h3  class="card-title text-center">Mill owner</h3>
                    <div id="millOwner" class="infographics"></div>
                </div>
            </div>
            <div class="col">
                <div class="p-3 mb-5 bg-white rounded">
                    <h3  class="card-title text-center">Fortification standard</h3>
                    <div id="fortifiedStandard" class="infographics"></div>
                </div>
            </div>
             <div class="col">
                <div class="p-3 mb-5 bg-white rounded">
                    <h3  class="card-title text-center">Non operational reason</h3>
                    <div id="nonOperational" class="infographics mb-5"></div>
                    <small>*Each machine can have multiple reasons</small>
                </div>
            </div>
            <div class="col">
                <div class="p-3 mb-5 bg-white rounded">
                    <h3  class="card-title text-center">Milled grain</h3>
                    <div id="grainType" class="infographics"></div>
                    <small>*Each machine can have multiple grain types</small>
                </div>
            </div>
        </div>
    </div>


    	<!--	Local javascript-->
<script src="{{url_for('static', filename='js/index.js')}}"></script>
</body>
</html>

{% endblock content %}
