{% extends "layout.html" %}
{% block content %}
<html>
<body>
    <div class="container-fluid m-5">
        <div class="row">
            <div class="col-3"> 
                <div class="row">
                    <h1>Logo</h1>
                </div>
                <hr>
                <div class="row">
                    <h1>Background Information</h1>
                         <p>Con nonummy sem integer interdum volutpat dis eget eligendi aliquip dolorum magnam. Lorem ipsum dolor si amet taciti sunt torquent ipsam proin montes quia netus quo minima sint. At aenean etiam suspendisse ultricies auctor per nihil nisi. Ullam fermentum urna varius et saepe labore dignissim consectetuer fusce elementum. </p>
                    </div>
                    <hr>
                <div class="row">
                    <h1>Infographics</h1>
                </div>
            </div>

            <div class="col-6">
                <div id="mapid" class="mb-3">map</div>
                <form enctype="multipart/form-data" method="get" action="/download_data">
                    <button class = 'download-data-button btn-info btn' type="submit">Download the data</button>
                </form>
                <div>
                    <hr>
                    <table class="table table-sortable">
                        <thead>
                            <tr>
                                <th>Name of the mill</th>
                                <th>Submission date</th>
                                <th>Opening hours</th>
                                <th>Owner of the mill</th>
                                <th>Machine count</th>
                                <th>Mill owner</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for submission in submissions['value'] %}
                            <tr>
                                <td>{{ submission['mills']['name_mill'] }}</td> 
                                <td>{{ submission['today'] }}</td> 
                                <td>{{ submission['Location']['opening_hours'] }}</td> 
                                <td>{{ submission['interviewee']['owner_name'] }}</td> 
                                <td>{{ submission['machines']['machine_count'] }}</td> 
                                <td>{{ submission['interviewee']['mill_owner'] }}</td> 
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <hr>
                        {% for submission in submissions['value'] %}
                        <p>{{
                             submission
                            }}
                        </p> 
                        {% endfor %}

                </div>
            </div>
            <div class="col-3">
                <h1>Filters</h1>
            </div>
        </div>
    </div>
<script>


  // center of the map
var center = [0.0, 20];
// Create the map
var map = new L.map('mapid').setView(center, 3);
// Set up the OSM layer
L.tileLayer(
  'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: 'Data © <a href="http://osm.org/copyright">OpenStreetMap</a>',
    maxZoom: 18,
  }).addTo(map);


var osmLayer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 18,
    attribution: '&copy; <a href="https://openstreetmap.org/copyright" target="_blank">OpenStreetMap contributors' +
        '</a> ',
    tileSize: 256,
});
var googleSat = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}', {
    maxZoom: 20,
    subdomains:['mt0','mt1','mt2','mt3']
});
var googleTer = L.tileLayer('http://{s}.google.com/vt/lyrs=p&x={x}&y={y}&z={z}', {
    maxZoom: 20,
    subdomains:['mt0','mt1','mt2','mt3']
});
var hotLayer = L.tileLayer('http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
    maxZoom: 20,
})
var baseMaps = {
    "OpenStreetMap": osmLayer,
    "Google Satellite": googleSat,
    "Google Terrain": googleTer,
    "HOTOSM": hotLayer
} //here more layers: https://www.tutorialspoint.com/leafletjs/leafletjs_getting_started.htm

L.control.layers(baseMaps).addTo(map);
osmLayer.addTo(map);
// add a scale at at your map.
var scale = L.control.scale().addTo(map);

var markers = L.featureGroup();
markers.addTo(map);


{% for submission in submissions['value'] %}
    var coordinates =JSON.parse('{{ submission["Location"]["mill_gps"]["coordinates"] }}')
    var color = 'red';
    var lng = coordinates[1]
    var lat = coordinates[0]
    var marker = L.circleMarker([lng, lat],{stroke: false, fillOpacity: 0.8});
    marker.setStyle({fillColor: 'green'});
    markers.addLayer(marker);

    toolTip = "<dl>" +
        "<dt>Number of milling machines: {{ submission['mills']['number_milling_machines'] }}</dt>" + "</dl>"
    marker.bindTooltip(toolTip);
{% endfor %}

{% for submission in submissions %}
    console.log('{{ submission }}')
{% endfor %}


/**
*
* @param{HTMLTableElement} table to sort
* @param{number} index of the column to sort
* @param{boolean} determines if the sorting will be ascending order
* 
**/
function sortTableByColumn(table, column, asc = true){
    const dirModifier = asc ? 1 : -1;
    const tBody = table.tBodies[0];
    const rows = Array.from(tBody.querySelectorAll('tr'));

    //sort each row
    const sortedRows = rows.sort((a,b) => {
        const aColText = a.querySelector(`td:nth-child(${ column + 1 })`).textContent.trim();
        const bColText = b.querySelector(`td:nth-child(${ column + 1 })`).textContent.trim();
        return aColText > bColText ? (1 * dirModifier) : (-1 * dirModifier);
    });

    // Remove all existing TRs from the table
    while (tBody.firstChild){
        tBody.removeChild(tBody.firstChild);
    }

    // Add the newly sorted rows
    tBody.append(...sortedRows);

    // Remember how the column is currently sorted
    table.querySelectorAll('th').forEach(th => th.classList.remove("th-sort-asc", "th-sort-desc"));
    table.querySelector(`th:nth-child(${ column + 1})`).classList.toggle("th-sort-asc", asc)
    table.querySelector(`th:nth-child(${ column + 1})`).classList.toggle("th-sort-desc", !asc)
}

document.querySelectorAll(".table-sortable th").forEach(headerCell => {
    headerCell.addEventListener("click", () =>{
        const tableElement = headerCell.parentElement.parentElement.parentElement;
        const headerIndex = Array.prototype.indexOf.call(headerCell.parentElement.children, headerCell);
        const currentIsAscending = headerCell.classList.contains('th-sort-asc');

        sortTableByColumn(tableElement, headerIndex, !currentIsAscending);
   });
});
//sortTableByColumn(document.querySelector('table'),1)
</script>

</body>
</html>

{% endblock content %}
